<div id="inf">
In this Halloween tale, a boy named Holden meets a strange new friend, the Sugar Witch. Will Holden make a magical trade or will he keep his treats and let the Sugar Witch find another trick or treater to help her build her sugar castle?  Maybe the next trick or treater will be you!
</div>