<style type="text/css">#inf {font-size: 26px;}</style>
<div id="inf">
In this Halloween tale, a boy named Holden meets a strange new friend, the Sugar Witch. Will Holden make a magical trade or will he keep his treats and let the Sugar Witch find another trick or treater to help her build her sugar castle?  Maybe the next trick or treater will be you!<br><br>

This book is a great solution for parents who worry about how much candy their children are eating after Halloween.  When Holden meets the Sugar Witch, he decides that he would rather have a toy than continue eating the rest of his Halloween candy.  By Halloween night, most kids are willing to trade their candy for a toy and the problem of never ending sugar is over for you and your child.  By reading the story to your child, you can introduce the concept of the trade to them and then on Halloween night, the trade can be made.<br><br>

This little urban myth has been practiced by many families, including mine now for a second generation.  Hopefully, your family will enjoy the new tradition.
</div>