<style type="text/css">
#inf{
	width: 60%;
}
#pic{
	position: absolute;
	top: 22%;
	left: 65%;
	height: 350px;
	width: 350px;
	}

</style>

<div id="inf">
Marcella Ricker has a master's degree in landscape architecture and a master's degree in elementary education. She enjoys the balance between children and nature. While this is the first book she has written, she enjoys reading books to her two grandchildren every day. She also enjoys traveling with her husband, children, and grandchildren. She has been to all 50 states, Europe, Africa, and Central America. Marcella looks forward to more adventures and having more stories to tell. 
</div>


<div id="pic">
<img style="height:auto; width:auto; max-width:350px; max-height:350px;" src="/assets/bio.jpg">
</div>