<style type="text/css">
#toy img{
	position:absolute;
	left: 700px;
	top: 100px;

}
</style>

<div id="inf">
We'll have a link to a blog here soon!<br><br>
For now <a href="mailto:Marcie_Ricker@yahoo.com?Subject=The%20Sugar%20Witch%20Switch" target="_top">Email Marcie</a> with any questions.
</div>

<div id="toy">
	<img style="height:auto; width:auto; max-width:500px; max-height:500px;" src="/assets/toy.png">
</div>