<style type="text/css">

#inf
{
position: relative;
font-family: AvenirNext-Bold;
font-size: 30px;
text-decoration: none;
color: #C3CDDD;
top: 75px;
}

</style>

<div id="inf">
We'll have a blog on the site soon.<br><br>We can hide this until the blog is ready if you'd like, or we can leave it as a placemaker showing that it will be here soon.
</div>