<div id="inf">
<a href="mailto:Marcie_Ricker@yahoo.com?Subject=The%20Sugar%20Witch%20Switch" target="_top">Email Marcie</a> to preorder a signed copy of the book.<br><br>
$22.95 for hardcover.<br>$12.45 for paperback.
		<br><br>
		<a href="http://bookstore.archwaypublishing.com/Products/SKU-000698639/The-Sugar-Witch-Switch.aspx">Buy the eBook</a> from our publisher.</a>
</div>
<div id="picture">

</div>