<style type="text/css">

#inf
{
position: relative;
font-family: AvenirNext-Bold;
font-size: 30px;
text-decoration: none;
color: #C3CDDD;
top: 75px;
}

</style>

<div id="inf">
Link to paypal site and amazon for the book.
</div>