<style type="text/css">
#inf a {
	text-decoration: none;
	color: #573B70;
}

#paypal{
	position: absolute;
	height: 150px;
	width: 300px;
	left: 360px;
	top: 65px;
}
</style>

<div id="inf">
<a href="mailto:Marcie_Ricker@yahoo.com?Subject=The%20Sugar%20Witch%20Switch" target="_top">Email Marcie</a> with any questions about the book or a reading appearance.<br><br>
$22.95 for hardcover.<br>$12.45 for paperback.

<div id="paypal">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<table>
<tr><td><input type="hidden" name="on0" value="Buy Now on Paypal"></td></tr><tr><td><select name="os0">
	<option value="Paperback">Paperback $12.45 USD</option>
	<option value="Hardcover">Hardcover $22.95 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHyQYJKoZIhvcNAQcEoIIHujCCB7YCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYA6mwViiOK4IzBJa/VgiH7yhvBg1af8Q/kI9EjdQNGF6xdPo120LNOwVdCrYRvOuxDuCgN7erpx9ZCXf6O+noNkOf2h8Nkc04yKudq2qmQE4phvIHWJ2X7OMwUW7MDqUdx4Hh8ieQFQ+27L0mXz0WJtAZ1wCQwB/j5q20SSjTDk5zELMAkGBSsOAwIaBQAwggFFBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECM0PGY/dHjDBgIIBIJgHBZXGVVIXVcqlMqMU6DwLj4RrszGpFz28V8pew1ZJ3UtX+phtxQY8CCknY7EdQTvRp787sCLMgAEZbsxTYUqaR509VpPblYNVEwExmSLek46BgZJ2dxa+rhMgYaMI0rg7+m8/JXmxVRjl5nn2fBp2rrl4g7vwa4sl4fjvNPBZaU2LD0q8cwTimWB491MH53J0Bi52/FETbvCxyjj6i4RMFoI9FSFbdY08NAJ8wWKVyCuddRj5x9lzFYoRkAyvUtISWnQXm4mVULEprIDACdPxylcOD6rGWAftHYrQdrNIqy2N6DjRyTJWSpCCnckfZbtawNBv1XZjj0kJeTi0rbHeCP/ZNudYfv8DAby3YKCg73C3B9d3kowvkdZzzZojkKCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE0MDUxNzIxMDAzNFowIwYJKoZIhvcNAQkEMRYEFNUlLkoweY01pp1AKcNG3oF/nxhBMA0GCSqGSIb3DQEBAQUABIGAXWw7HnrNAzVtRKMkStnTbBPDy/67EjNG2myjoJXOTv+e6+kA73OkNyfEtmyWwGnY/Ay0NKzVuDEwqhQS+kvY9uMg3ttRkTGvdh43c7XPGVI2xs9Om2tcFQUsd4Epd1nZwpKa7BHqJGET8oP5a5E7oOm86Kb2kytvC2ciftN370g=-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</div>
		<br><br>
		<a href="http://bookstore.archwaypublishing.com/Products/SKU-000698639/The-Sugar-Witch-Switch.aspx">Buy the eBook</a> from our publisher.</a>
</div>
<!-- <div id="picture">

</div> -->