<div id="inf">
<a href="mailto:Marcie_Ricker@yahoo.com?Subject=The%20Sugar%20Witch%20Switch" target="_top">Email Marcie</a> to preorder a signed copy of the book.
		<br><br>
		<a href="http://www.amazon.com/Sugar-Witch-Switch-Marcella-Ricker-ebook/dp/B00JYF3PG8/ref=sr_1_1?ie=UTF8&qid=1399239782&sr=8-1&keywords=sugar+witch+switch">Buy the Kindle Version</a> from Amazon.</a>

</div>


