<div id="inf">
There will be a link here to buy the book through Paypal, and we anc put one to Amazon in the meantime.

Send an email to <a href="mailto:Marcie_Ricker@yahoo.com?Subject=The%20Sugar%20Witch%20Switch" target="_top">
Marcie.</a>
</div

