<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
<style type="text/css">

#inf{
	width: 60%;
}

#pic{
	position: absolute;
	top: 22%;
	left: 62%;
	height: 350px;
	width: 350px;
	}

#back{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position:absolute;
	background:url('/assets/Background.png');
	background-size: 100% 100%;
	z-index: 0;
}

#copywrite{
	bottom: 0%;
	right: 1%;
	position: absolute;
	z-index: 0;
}

#buy1 a{
position: relative;
font-family: 'Open Sans', sans-serif;
font-weight: 800;
font-size: 30px;
text-decoration: none;
color: #000000;
padding: 0px;
left: 45%;
}

</style>
<div id="inf">
This book is a great solution for parents who worry about how much candy their children are eating after Halloween.
<br><br>
In this Halloween tale, a boy named Holden meets a strange new friend, the Sugar Witch. Will Holden make a magical
trade or will he keep his treats and let the Sugar Witch find another trick or treater to help her build her sugar
castle? Maybe the next trick or treater will be you!
</div>

<div id="pic">
<img style="height:auto; width:auto; max-width:450px; max-height:500px;" src="/assets/Background.png">
	<div id="buy1" class="lin"><%= link_to "Buy Now", buy_path %></div>
	</div>
</div>

<div id="copywrite">
	<img src="/assets/Copy.png"></img>
</div>
