// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#inf
{
position: relative;
font-family: 'Open Sans', sans-serif;
font-weight: 800;
font-size: 30px;
text-decoration: none;
color: #C3CDDD;
top: 75px;
}